/firmware/nbproject/Makefile-local*
/firmware/nbproject/Makefile-variables*
/firmware/nbproject/Makefile-genesis*
/firmware/nbproject/Package*
/firmware/nbproject/private/
/firmware/build/default/
/firmware/dist/default/
/firmware/disassembly/
/hardware/BlueBus.*#*
/hardware/BlueBus.bom
/firmware/build/application/
/firmware/dist/application/
/firmware/build/bootloader/
/firmware/dist/bootloader/
