/firmware/application/build/
/firmware/application/dist/
/firmware/application/disassembly/
/firmware/bootloader/build/
/firmware/bootloader/dist/
/firmware/bootloader/disassembly/
/firmware/application/nbproject/private/
/firmware/bootloader/nbproject/private/
/firmware/bootloader/nbproject/Makefile-local*
/firmware/application/nbproject/Makefile-local*
/firmware/bootloader/nbproject/Makefile-variables*
/firmware/application/nbproject/Makefile-variables*
/firmware/bootloader/nbproject/Makefile-genesis*
/firmware/application/nbproject/Makefile-genesis*
/firmware/application/nbproject/Package*
/firmware/bootloader/nbproject/Package*
/hardware/BlueBus.*#*
/hardware/BlueBus.bom
/hardware/eagle.epf
