/firmware/application/.generated_files/*
/firmware/application/build/
/firmware/application/dist/
/firmware/application/debug/
/firmware/application/disassembly/
/firmware/bootloader/.generated_files
/firmware/bootloader/build/
/firmware/bootloader/dist/
/firmware/bootloader/debug/
/firmware/bootloader/disassembly/
/firmware/application/nbproject/private/
/firmware/bootloader/nbproject/private/
/firmware/bootloader/nbproject/Makefile-*.mk
/firmware/application/nbproject/Makefile-*.mk
/firmware/bootloader/nbproject/Makefile-genesis.properties
/firmware/application/nbproject/Makefile-genesis.properties
/firmware/application/nbproject/Package*
/firmware/bootloader/nbproject/Package*
/hardware/v*/BlueBus.*#*
/hardware/v*/BlueBus.bom
/hardware/eagle.epf
